/* app/globals.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #EBD3F8;
  color: #2E073F;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
